# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Parcel cache
.parcel-cache/

# Archivos de salida (build)
dist/

# Archivos del sistema
.DS_Store
Thumbs.db

# Entornos
.env
.env.local
.env.*.local

# Bloqueos de base de datos locales (por ejemplo, Parcel)
*.mdb

node_modules/
.parcel-cache/
dist/
.cache/
